body{
    color: rgb(255, 255, 255);
    background: rgb(57, 1, 20);
    margin: 0px;
    
}

header{
border-bottom: solid 2px rgb(110, 7, 28);
padding: 15px;
font-size: 30px;
color: rgb(237, 219, 224);
}

section{
    background: rgb(60, 7, 17);

    padding: 20px;

    justify-content: center;

}

camada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px
}